@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie-info {
    padding: 10px;
}

.movie-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.movie-info span {
    font-size: 1rem;
    color: #4caf50;
}

.movie .overview {
    padding: 10px;
    font-size: 0.9rem;
}

.green {
    color: #4caf50;
}

.orange {
    color: #ff9800;
}

.red {
    color: #f44336;
}
